[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
osmnx = "==1.1.1"
matplotlib = "*"
numpy = "*"
networkx = "*"
tqdm = "*"
scikit-learn = "*"
geojson = "*"
folium = "*"
flexx = "*"

[dev-packages]

[requires]
python_version = "3.10"
